
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');



.quicksand-uniquifier {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
  }



/* nav style */

.school{
    display: flex;
}
.navbar{
    display: flex;
    justify-content:space-evenly;
}
 .nav-items{
  list-style: none;
  display: flex;
 }

 .list{
    display: flex;
    
 }
  
 .nav-link1,.nav-link2,.nav-link3 ,.nav-link4{
    margin-right: 30px;
 }

 .nav-link1{
    color: orange;
 }
 .nav-link2{
    color: aqua;

 }
  .nav-link3{
    color: blue;
  }
  .nav-link4{
    color: olive;
  }

.menu-btn {
     
    width: 20px;
    height: 20px;
    display: none;
  }
  
  .btn-line {
    width: 100%;
    height: 2px;
    background : gray;
    margin: 3px auto;
    
  }

  .nav-btn{
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 12px;
    color: white;
    background-color: #FEA301;
  }
      


/* banner section*/

.banner{
  display: flex;
  justify-content: space-between;
}

.banner-title{
  font-weight: bold;
  font-size: 3rem;
}
.span1{
color: #FEA301;
}
.span3{
 color: #01ACFD;
}
 .banner1{
  text-align: center;
  
  margin-left: 200px;
  margin-top: 100px;
  
  

 }
 .banner2{
  margin-right: 200px;
 }

 .banner-description{
  margin-top: none;
 }

 .banner-btn{
  width: 160px;
  height: 50px;
  padding: 10px;
  border-radius: 12px;
  background-color: black;
  color: white;
 }


 /* standard*/

 .card{
  display: flex;
  padding-top: 10px;
  justify-content: center;
  align-items: center;
 }

 .card-section{
  margin-left: 140px;
  margin-right: 140px;
 }

 .card1,.card2, .card3{
  width: 320px;
  height: 400px;
  text-align: center;
  gap: 50px;
  margin: 0 auto;
  align-items: center;
 }
.standard-title{
  text-align: center;
  margin-bottom: 60px;
  font-weight: bold;
  font-size: 3rem;
}

.card1{
  background: linear-gradient(90deg, #DEF5FF,white);
  border-radius: 12px;
}

.card2{
  background: linear-gradient(90deg,#FFF4DC,white);
  border-radius: 12px;
}

.card3{
  background: linear-gradient(90deg,#F2E8FF,white);
  border-radius: 12px;
}
.kinder,.elementary,.middle{
  padding-top: 50px;
}
 .read1{
  color: #64C8FF;

 }
.read2{
  color:#F0AA00 ;
}

.read3{
  color:#8700FF
}
  .arrow-btn1, .arrow-btn2{

    background: #F0AA00;
    height: 40px;
    width: 40px;
    gap: 5px;
    text-align: center;
    padding-top: 10px;
    border-radius: 30px;
    color: white;
    margin-top: 80px;
    font-weight: bold;
    
    
    
  }
.jhamela{
  display: flex;
  justify-content: center;
  gap: 5px;


}




/*our-story*/

.cover{
  background-color: #FFF4DC;
  width: 100%;
  height: 700px;

}
 

 


.right-side{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  justify-content: center;
}
.paragraph{
      
  font-weight: bold;
  
}

.left-side,.right-side{
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
.story-title{
  text-align: center;
}
 .stories {
   max-width: 900px;
   margin: auto; }

 
 h2 { 
  font-size: 2rem;
   margin-bottom: 20px;
   margin-top: 10px;
   }
 
 .stories-container{
   display: grid; 
   grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
    
    gap: 20px; }


    .story {
       background: white;
       padding: 15px;
       border-radius: 10px;
       box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
      text-align: left; }
    
    .story img {
       width: 100%;
       border-radius: 10px; }


     .date {
       font-size: 12px;
       font-weight: bold; 
      padding: 5px 10px; 
      display: inline-block; 
      border-radius: 20px;
       margin: 10px 0; }


      .blue {
         background-color: #00aaff;
         color: white;;
       }


       .yellow {
         background-color: #ffaa00;
         color: white;
         }

        .green {
           background-color: #4CAF50;
           color: white; }

         h3 { 
          font-size: 1rem; 
          margin-bottom: 10px;
          text-align: center;
         }

          p { 
            font-size: 0.9rem; 
            color: #555;
           }

           .view-all {
             
             padding: 10px 20px;
             background-color: black;
             color: white; border: none; 
            cursor: pointer;
             border-radius: 5px; 
            font-size: 1rem;
            text-align: center;
            
            width: 150px;
            margin: 0 auto;
            
            
           } 

           .story1,.story2{

            display: flex;
           }

          .blue,.yellow,.green{
            position: relative;
            top: -30px;
            border: none;
          }
 

          /* footer*/

          .footer-section{

            background-color: #01ACFD;
            width: 100%;
            height: 300px;
            display: flex;
            gap: 50px;
            justify-content: space-around;
            justify-items: center;
            margin: 0 auto;
            
          }

    

          .first{
            display: flex;
            color: white;
          }
           .footer-items{
            list-style: none;
            color: white;
           }


  /*responsive */
  @media screen and (max-width: 576px){
    .nav-lists, .nav-btn{
        display: none;
    }
    .menu-btn{
        display: block;
        
    }
    .school, .menu-btn{
    
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        padding: 0 ;
        
    }
    .navbar{
      border-bottom: 1px solid orange;
      align-items: center;
      
  }

  .banner{
    flex-direction: column;
    justify-items: center;
  }
  .banner1{
    margin: 0 auto;
    width:400px;
    text-align: center;

  }

  .banner2{
    width: 100%;
    order: -1;
  }
}